<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <form th:method="POST" th:action="@{/question-content/create}" th:object="${questionContent}">
        <div class="mb-3">
            <label for="tittle" class="form-label">Tiêu đề</label>
            <input type="text" class="form-control" id="tittle" th:field="*{getTitle()}">
        </div>
        <div class="mb-3">
            <label for="content" class="form-label">Nội dung</label>
            <input type="text" class="form-control" id="content" th:field="*{content}">
        </div>
        <div class="mb-3">
            <label for="type" class="form-label">Loại cau hỏi</label>
            <select class="form-select" id="type" name="type"
                    th:field="*{questionTypes}">
                <option th:each="questionType : ${questionTypes}"
                        th:value="${questionType.id}" th:text="${questionType.type}"></option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>
</body>
</html>
